$body-bg: #000e1d; // background
$body-color: white; 

$font-family-base: "Roboto", "Open-Sans", "Helvetica", "Arial", sans-serif;

// https://coolors.co/000e1d-051527-0d1d35-1974ce-5f7490-21c181-9cc34a-ff5722-eb3838
$primary: #051527;
$secondary: #5f7490;
$success: #21c181;
$info: #9cc34a;
$warning: #ff5722;
$danger: #eb3838;
$light: #1974ce;
$dark: #0d1d35;

$theme-colors: (
  "primary": $primary, // cards, navbar
  "secondary": $secondary, // sub text color
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light, // accents / buttons
  "dark": $dark // card sub-background
);

:root {
  --toastify-color-light: #{$secondary} !important;
  --toastify-color-dark: #{$primary} !important;
  --toastify-color-info: #{$info} !important;
  --toastify-color-success: #{$success} !important;
  --toastify-color-warning: #{$warning} !important;
  --toastify-color-error: #{$danger} !important;

  --toastify-text-color-light: #fff !important;

  -toastify-spinner-color: #{$dark} !important;

  --toastify-color-progress-dark: #{$light} !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $secondary;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $success;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Change range slide styling */
input[type="range"]::-webkit-slider-thumb {
  background: white !important;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: $secondary !important;
}

input[type="range"]::-moz-range-thumb {
  background: white !important;
}
input[type="range"]::-moz-range-track {
  background: $secondary !important;
}

input[type="range"]::-ms-thumb {
  background: white !important;
}
input[type="range"]::-ms-track {
  background: $secondary !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/react-toastify/scss/main.scss";
